PORT=3029
POSTGRES_USER=postgres
POSTGRES_PASSWORD=superstrong
POSTGRES_DB=simple_booking_db
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres:superstrong@localhost:5432/simple_booking_db?schema=public"